body {
  background-color: $Very-dark-blue-400;
}

.main-container {
  position: relative;
  height: max(600px, 100vh);
  width: 100%;
  padding-top: 140px;
}

h1 {
  margin-bottom: 60px;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}
