body {
  background-color: $Very-dark-blue-400;
}

.screenreader {
  position: absolute !important; /* Outside the DOM flow */
  height: 1px;
  width: 1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

.main-container {
  position: relative;
  height: max(600px, 100vh);
  width: 100%;
  padding-top: 140px;
}

h1 {
  margin-bottom: 60px;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}
