body {
  height: 100vh;
}
.main-container {
  height: 100%;
  width: 100%;
  padding-top: 140px;

  text-align: center;

  background-color: $Very-dark-blue-400;
  background-image: url('../images/pattern-hills.svg'),
    url('../images/bg-stars.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 90% 100%, top center;
  background-size: 300%, auto;
}

h1 {
  margin-bottom: 60px;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}
