@media (min-width: 50em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1rem;
    --fs-500: 1.5rem;

    --l-spacing: 10px;
  }

  h1 {
    width: max-content;
  }

  .timer {
    --width: 148px;
    --height: 140px;
    --top-p-pos: 32px;
    --bot-p-pos: -38px;
    --b-radius: 8px;
    --fs: 75px;
  }

  .circle-border {
    --radius: 7px;
  }
}
