@media (min-width: 50em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1rem;
    --fs-500: 1.5rem;

    --l-spacing: 10px;
  }

  body {
    display: grid;
    place-content: center;
    grid-template-columns: min(100%, 1440px);
    grid-template-rows: min(100%, 800px);
  }

  h1 {
    width: max-content;
    min-height: 75px;
  }

  .main-container {
    background-position: bottom center, top center;
    background-size: auto, auto;
  }

  .timer {
    --width: 148px;
    --height: 140px;
    --top-p-pos: 32px;
    --bot-p-pos: -38px;
    --b-radius: 8px;
    --fs: 75px;
    --flip-shadow: -10px;
    --title-mt: 2rem;
  }

  .circle-border {
    --radius: 7px;
  }
}
