// ## Colors

// ### Primary

$Grayish-blue: hsl(237, 18%, 59%);
$Soft-red: hsl(345, 95%, 68%);

// ### Neutral

$White: hsl(0, 0%, 100%);
$Dark-desaturated-blue: hsl(236, 21%, 26%);
$Very-dark-blue-400: hsl(235, 16%, 14%);
$Very-dark-blue-100: hsl(234, 17%, 12%);

:root {
  --flip-top-bgr: hsl(240, 21%, 22%);
  --flip-bot-bgr: hsl(236, 21%, 26%);
  --flip-top-f-clr: hsl(344, 62%, 57%);
  --flip-bot-f-clr: hsl(345, 95%, 68%);
}

html {
  font-size: 14px;
}

:root {
  --fs-800: 5rem;
  --fs-400: 1rem;
}
