.social {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 2.5rem;

  cursor: pointer;

  div {
    &:focus,
    &:hover {
      svg path {
        fill: $Soft-red;
      }
    }
  }
}
