.timer {
  display: flex;

  &_number {
    padding: 1rem;

    font-size: var(--fs-800);
    color: $Soft-red;

    background-color: $Dark-desaturated-blue;
  }

  &_title {
    text-align: center;
    text-transform: uppercase;
  }
}
