.timer {
  display: flex;

  &_number {
    position: relative;

    width: 120px;
    height: 150px;

    overflow: hidden;

    font-size: var(--fs-800);
    color: $Soft-red;

    line-height: 1;

    &-top,
    &-bottom {
      position: absolute;
      inset: 0;

      display: grid;
      place-content: center;
    }

    &-top {
      background-color: $Dark-desaturated-blue;
      z-index: 2;
    }

    &-bottom {
      background-color: $Very-dark-blue-400;
      z-index: 1;
    }
  }

  &_title {
    text-align: center;
    text-transform: uppercase;
  }
}
