.timer {
  display: flex;

  &_number {
    position: relative;

    width: 120px;
    height: 150px;

    overflow: hidden;

    font-size: var(--fs-800);
    color: $Soft-red;

    line-height: 1;

    &-top,
    &-bottom {
      position: absolute;
      inset: 0;

      overflow: hidden;

      p {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 35px;
      }
    }

    &-top {
      background-color: $Dark-desaturated-blue;
      z-index: 2;
    }

    &-bottom {
      background-color: $Very-dark-blue-400;
      z-index: 1;
    }

    &.flip {
      .timer_number-top {
        z-index: 1;
      }

      .timer_number-bottom {
        z-index: 2;
        animation: flip 0.4s ease-in;
      }
    }

    @keyframes flip {
      from {
        height: 0;
      }
      40% {
        height: 50%;
      }
      60% {
        height: 50%;
      }
      to {
        height: 100%;
      }
    }
  }

  &_title {
    text-align: center;
    text-transform: uppercase;
  }
}
