.timer {
  --top-p-pos: 40px;
  --bot-p-pos: -35px;

  display: flex;

  &_number {
    position: relative;

    width: 120px;
    height: 150px;

    font-size: var(--fs-800);
    color: $Soft-red;

    line-height: 1;

    &-top,
    &-bottom {
      position: absolute;

      p {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    // number-top and flip-card-front is the same
    // part of flip counter
    &-top {
      inset: 0 0 50% 0;
      background-color: var(--flip-top-bgr);

      p {
        top: var(--top-p-pos);
      }
    }

    &-bottom {
      inset: 50% 0 0 0;
      z-index: 2;

      overflow: hidden;

      background-color: var(--flip-bot-bgr);

      p {
        top: var(--bot-p-pos);
      }
    }

    @keyframes flip {
      from {
        height: 0;
      }
      40% {
        height: 50%;
      }
      60% {
        height: 50%;
      }
      to {
        height: 100%;
      }
    }
  }

  &_title {
    text-align: center;
    text-transform: uppercase;
  }
}

.flip-card {
  &_inner {
    position: relative;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transform-origin: bottom center;
    transform: rotateX(50deg);

    transition: transform 0.4s ease-in;

    z-index: 5;
  }

  &_back,
  &_front {
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    overflow: hidden;
  }

  &_front {
    background-color: var(--flip-top-bgr);
  }

  &_back {
    transform: rotateX(180deg);

    background-color: var(--flip-bot-bgr);

    p {
      top: var(--bot-p-pos);
    }
  }
}
