.timer {
  --width: 70px;
  --height: 65px;
  --top-p-pos: 15px;
  --bot-p-pos: -17.5px;
  --b-radius: 5px;
  --fs: 33px;

  display: flex;
  justify-content: center;
  gap: 1rem;

  &_number {
    position: relative;

    width: var(--width);
    height: var(--height);

    font-size: var(--fs);

    line-height: 1;

    &-top,
    &-bottom {
      position: absolute;

      p {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    // this div is flip card, can't have overflow
    // hidden because flip it self.
    // use it for styling only and positioning
    &-top {
      inset: 0 0 50% 0;
      border-radius: var(--b-radius) var(--b-radius) 0 0;

      color: var(--flip-top-f-clr);
      background-color: var(--flip-top-bgr);

      p {
        top: var(--top-p-pos);
      }
    }

    &-bottom {
      inset: 50% 0 0 0;
      border-radius: 0 0 var(--b-radius) var(--b-radius);
      z-index: 2;

      overflow: hidden;

      color: var(--flip-bot-f-clr);
      background-color: var(--flip-bot-bgr);

      p {
        top: var(--bot-p-pos);
      }
    }
  }

  &_title {
    font-size: var(--fs-300);
    color: $Grayish-blue;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.flip-card {
  &_inner {
    position: relative;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transform-origin: bottom center;
    transform: rotateX(0deg);

    transition: transform 0.4s ease-in;

    z-index: 5;

    &.flip {
      transform: rotateX(180deg);
    }
  }

  &_back,
  &_front {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--b-radius, 5px);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    overflow: hidden;
  }

  &_front {
    background-color: var(--flip-top-bgr);
  }

  &_back {
    transform: rotateX(180deg);

    color: var(--flip-bot-f-clr);
    background-color: var(--flip-bot-bgr);

    p {
      top: var(--bot-p-pos);
    }
  }
}

.circle-border {
  --radius: 4px;
  overflow: hidden;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: var(--radius);
    aspect-ratio: 1;
    background-color: black;
  }

  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }

  &--bottom {
    &::after,
    &::before {
      bottom: -2%;
    }

    &::before {
      border-radius: 0% 100% 0% 100% / 100% 100% 0% 0%;
    }

    &::after {
      border-radius: 100% 0% 0% 100% / 100% 100% 0% 0%;
    }
  }

  &--top {
    &::after,
    &::before {
      top: -2%;
    }

    &::before {
      border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
    }

    &::after {
      border-radius: 0% 100% 0% 100% / 0% 0% 100% 100%;
    }
  }
}
